$background-purple: #6c30eb;
$background-secondary: #370087;
$background-grey: #f5f3ff;
$background-green: #00eac5;
$base-text-color: #fff;
$base-dark-color: #282240;
$text-secondary: #370087;
$text-neutral: #1f0742;
$text-neutral-gray: #655e79;
$footer-content: #8881b4;
$border-secondary: #d1ccff;
